p.stk.copied,
p.sa.copied {
  outline: 2px solid #4caf50;
  transition: outline 0.2s ease;
}

@font-face {
    font-family: Sahitya,Siddhanta,Sanskrit 2003,Santipur OT,Adobe Devanagari;;
    src: url(./fonts/Sahitya-Regular.ttf);
}

@font-face {
    font-family: Charis;
    src: url(./fonts/charis-sil.ttf);
}

@font-face {
    font-family: Charis-Italic;
    src: url(./fonts/charis-sil-italic.ttf);
}

@font-face {
    font-family: Charis-Bold;
    src: url(./fonts/charis-sil-bold.ttf);
}
@font-face {
    font-family: Sanskrit 2003;
    src: url(./fonts/Sanskrit2003.ttf);
}
body {
    font-size: 16pt;
    font-family: "Charter Indologique";
   }

h1 {
  color: #a52a2a; /* Öâåò çàãîëîâêà */
  font-size: 24pt; /* Ðàçìåð øðèôòà â ïóíêòàõ */
  font-weight: normal; /* Íîðìàëüíîå íà÷åðòàíèå òåêñòà  */
}

p
{
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;

}

table {
    /*width: 100%;  Øèðèíà òàáëèöû */
    border-collapse: collapse; /*  Óáèðàåì äâîéíûå ëèíèè ìåæäó ÿ÷åéêàìè */
    table-layout: auto
   }
   td, th {
    padding: 4px; /* Ïîëÿ â ÿ÷åéêàõ */
    text-align: center; /* Âûðàâíèâàíèå */
    /*font-size: 14pt; /* Ðàçìåð òåêñòà */
    font-style: normal;
    padding-left: 9px;
    /*border: 1px solid #333333;  Ãðàíèöà ìåæäó ÿ÷åéêàìè */
   }
   th {
    background: #000080; /* Öâåò ôîíà ñòðîêè çàãîëîâêà */
    color: #ffe; /* Öâåò òåêñòà */
    text-align: center; /* Âûðàâíèâàíèå */
    /*font-size: 14pt; /* Ðàçìåð òåêñòà */
   }
p.sa {
    line-height: 1.5em;
    color: #ff2400; /* Öâåò òåêñòà */
    font-style: normal;
    font-size: 20pt; /* Ðàçìåð òåêñòà */
    font-family: "Sanskrit 2003";
}
p.iast {
    font-weight: bold
    font-size: 18pt; /* Ðàçìåð òåêñòà */
}
p.hk {
    color: gray; /* Öâåò òåêñòà */
    font-weight: bold
    font-size: 14pt; /* Ðàçìåð òåêñòà */
}
p.stk {
    font-size: 18pt; /* Ðàçìåð òåêñòà */
    font-family: "Charis-Bold";
}
a.sa {
    line-height: 1.5em;
    font-style: normal;
    font-size: 18pt; /* Ðàçìåð òåêñòà */
    font-family: "Sanskrit 2003";
}
